@using Whs.Shared.Models

<div class="card border border-dark rounded">
    <div class="card-header">
        <div class="row">
            <div class="col">
                @Value.Склад_NameString
            </div>
            <div class="col h1 align-middle text-right">
                @Value.НомерОчереди
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <span class="oi oi-timer"> &nbsp; </span> <span class="@ifExpired"> @Value.СрокВыполнения </span>
        </div>
        <div class="row">
            <span class="oi oi-location"> &nbsp; </span> <span> @Value.НаправлениеДоставки_Name </span> 
        </div>
        <div class="row">
            <span class="oi oi-people"> &nbsp; </span> <span class="@ifMoving"> @Value.ОтправительПолучатель_NameString </span>
        </div>
        <div class="row">
            <span class="oi oi-warning"> &nbsp; </span> <span> @Value.КомментарийString </span>
        </div>
    </div>
    <div class="card-footer">
        <div class="float-left">Строк: @Value.КоличествоСтрок</div>
        <div class="float-right">Вес: @Value.Вес</div>
    </div>
</div>

@code {
    [Parameter]
    public WhsOrderOut Value { get; set; }
    string ifExpired;
    string ifAtwork;
    string ifMoving;
    protected override void OnParametersSet()
    {
        if ((Value.СрокВыполнения != DateTime.Parse("01.01.0001 0:00:00")) && Value.СрокВыполнения < DateTime.Now)
            ifExpired = "bg-danger text-white";
        if (Value.ЭтоПеремещение)
            ifMoving = "bg-warning text-white";
        //if (Value.ApplicationUser != null)
        //    ifAtwork = "bg-primary text-white";

    }
}
