@using Whs.Shared.Models

<span class="order shadow_my d_blk @queueType @ifExpired @ifMoving @departed">
    <span class="leftpart d_blk flt_left" title="@Value.Документ_Name">
        <span class="h5">@Value.НомерОчереди</span>
    </span>
    <span class="rightpart d_blk flt_right">
        <span class="receiver flt_left w_100">&nbsp;@Value.ОтправительПолучатель_NameString</span>
        <span class="destin flt_left w_100">@Value.НаправлениеДоставки_Name</span>
        <span class="comment flt_left w_100">@Value.КомментарийString</span>
        <span class="date d_blk">@showDate</span>        
        <div class="foot d_blk flt_left w_100">
            <span class="skus flt_left">
                <label class="val birbox">@Value.КоличествоСтрок</label>
            </span>
            <span class="responsible">
                <label class="val birbox">@Value.LastData?.ApplicationUser?.Surname</label>
            </span>
            <span class="weight flt_right">
                <label class="val birbox">@Value.Вес</label>
            </span>
        </div>
    </span>
</span>

@code {
    [Parameter] public WhsOrderOut Value { get; set; }
    private string queueType;
    private string ifExpired;
    private string ifMoving;
    private string departed;
    private string showDate;

    protected override void OnParametersSet()
    {
        switch (Value.Статус)
        {
            case WhsOrderStatus.Out.Prepared:
            case WhsOrderStatus.Out.ToCollect:
                departed = "";
                ifExpired = Value.СрокВыполнения < DateTime.Now ? "timeout" : "";
                showDate = Value.TimeUpString;
                break;
            case WhsOrderStatus.Out.ToShipment:
            case WhsOrderStatus.Out.Shipped:
                departed = "departed";
                ifExpired = "";
                showDate = Value.LastData?.DateTimeString;
                break;
        }

        switch (Value.ТипОчереди)
        {
            case QueType.Out.LiveQue: queueType = "liveq"; break;
            case QueType.Out.Schedule: queueType = "schedule"; break;
            case QueType.Out.SelfDelivery: queueType = "selfdelivery"; break;
            case QueType.Out.NoQue: queueType = "noorder"; break;
            default: queueType = "noorder"; break;
        }

        ifMoving = Value.ЭтоПеремещение ? "transfer" : "";
    }
}
