@using Microsoft.AspNetCore.Authorization
@using Whs.Client.Components
@using Whs.Shared.Models
@page "/WhsOrdersOut/CardsByQueType"
@page "/WhsOrdersOut/CardsByQueType/{SearchStatus}"
@attribute [Authorize]
@code
{
    private Notification Notification;
    private SearchByNumber SearchByNumber;
    private SearchByDestination SearchByDestination;
}

<Notification @ref="Notification" />

<input type="hidden" id="Barcode" value="@Barcode" @onchange="ScannedBarcodeAsync" />

<div class="row">
    <div class="col">
        <h3>Расходные ордера на товары</h3>
    </div>
</div>
<div class="row">
    <div class="col d-print-none">
        <AuthorizeView Roles="Manager">
            <Authorized>
                @if (Warehouses != null)
                {
                    <SearchByWarehouseAsync Warehouses="Warehouses" OnSelect="SearchByWarehouseAsync" />
                }
            </Authorized>
        </AuthorizeView>
    </div>
    <div class="col d-print-none">
        <SearchByNumber @ref="SearchByNumber" OnSearchChanged="SearchByNumberAsync" />
    </div>
    <div class="col">
        @if (OrdersDto != null && OrdersDto.Destinations != null)
        {
            <SearchByDestination @ref="SearchByDestination" Destinations="OrdersDto.Destinations" OnSelect="SearchByDestinationsAsync" />
        }
    </div>
    @if (OrdersDto != null)
    {
        <div class="col h4 text-right">Общ Кол: @OrdersDto.TotalCount</div>
        <div class="col h4">Вес: @OrdersDto.TotalWeight</div>
    }
    <div class="col mb-2 d-print-none text-right">
        @if (OrderParameters.SearchStatus != "Отгружен")
        {
            <button class="btn btn-info" @onclick="Print"><span class="oi oi-print"></span> Печать </button>
        }
    </div>
</div>

@if (OrdersDto == null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
            <button class="btn btn-link btn-lg btn-block nav-link @SearchStatusButtons[WhsOrderStatus.Out.Prepared]"
                    @onclick="@(() => SearchByStatus(WhsOrderStatus.Out.Prepared))">
                WhsOrderStatus.Out.Prepared
            </button>
        </li>
        <li class="nav-item">
            <button class="btn btn-link btn-lg btn-block nav-link @SearchStatusButtons[WhsOrderStatus.Out.ToCollect]"
                    @onclick="@(() => SearchByStatus(WhsOrderStatus.Out.ToCollect))">
                WhsOrderStatus.Out.ToCollect
            </button>
        </li>
        <li class="nav-item">
            <button class="btn btn-link btn-lg btn-block nav-link @SearchStatusButtons[WhsOrderStatus.Out.ToShipment]"
                    @onclick="@(() => SearchByStatus(WhsOrderStatus.Out.ToShipment))">
                WhsOrderStatus.Out.ToShipment
            </button>
        </li>
        <li class="nav-item">
            <button class="btn btn-link btn-lg btn-block nav-link @SearchStatusButtons[WhsOrderStatus.Out.Shipped]"
                    @onclick="@(() => SearchByStatus(WhsOrderStatus.Out.Shipped))">
                WhsOrderStatus.Out.Shipped
            </button>
        </li>
    </ul>
    if (OrdersDto.Items.Count == 0)
    {
        <span class="notfound">
            <img src="/img/NotFound.svg" />
        </span>
        @*<div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Ничего не найдено!</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" @onclick="@(() => SearchClearAsync(true))">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>*@
    }
    else
    {
        @if (OrdersDto?.MngrOrderName != null)
        {
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>@OrdersDto.MngrOrderName</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" @onclick="SearchByBarcodeClearAsync">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <div class="row mt-3">
            <div class="col-3">
                <div class="row h5 text-center thqueue">
                    <div class="col"><span class="oi oi-layers"></span>&nbsp;<span>@QueType.Out.LiveQue</span></div>
                </div>
                <div class="order-items">
                    @if (OrdersDto.Items.ContainsKey(QueType.Out.LiveQue))
                    {
                        @foreach (var value in OrdersDto.Items[QueType.Out.LiveQue])
                        {
                            <div class="row" @onclick="@(() => OpenItem(value.Документ_Id))">
                                <div class="col">
                                    <Card Value="value" />
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-3">
                <div class="row h5 text-center thqueue">
                    <div class="col"><span class="oi oi-calendar"></span>&nbsp;<span>@QueType.Out.Schedule</span></div>
                </div>
                <div class="order-items">
                    @if (OrdersDto.Items.ContainsKey(QueType.Out.Schedule))
                    {
                        @foreach (var value in OrdersDto.Items[QueType.Out.Schedule])
                        {
                            <div class="row" @onclick="@(() => OpenItem(value.Документ_Id))">
                                <div class="col">
                                    <Card Value="value" />
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-3">
                <div class="row h5 text-center thqueue">
                    <div class="col"><span class="oi oi-globe"></span>&nbsp;<span>@QueType.Out.SelfDelivery</span></div>
                </div>
                <div class="order-items">
                    @if (OrdersDto.Items.ContainsKey(QueType.Out.SelfDelivery))
                    {
                        @foreach (var value in OrdersDto.Items[QueType.Out.SelfDelivery])
                        {
                            <div class="row" @onclick="@(() => OpenItem(value.Документ_Id))">
                                <div class="col">
                                    <Card Value="value" />
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-3">
                <div class="row h5 text-center thqueue">
                    <div class="col"><span class="oi oi-aperture"></span>&nbsp;<span>@QueType.Out.NoQue</span></div>
                </div>
                <div class="order-items">
                    @if (OrdersDto.Items.ContainsKey(QueType.Out.NoQue))
                    {
                        @foreach (var value in OrdersDto.Items[QueType.Out.NoQue])
                        {
                            <div class="row" @onclick="@(() => OpenItem(value.Документ_Id))">
                                <div class="col">
                                    <Card Value="value" />
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    }
}