@page "/WhsOrdersOut/CardsByQueType"
@page "/WhsOutsByQueType"
@page "/WhsOutsByQueType/{NewTab}"

@using Microsoft.AspNetCore.Authorization
@using Whs.Client.Components

@attribute [Authorize]

<Notification @ref="Notification" />

<input type="hidden" id="Barcode" value="@Barcode" @onchange="ScannedBarcodeAsync" />

<div class="row">
    <div class="col">
        <h3>Расходные ордера на товары</h3>
    </div>
</div>
<div class="row">
    <div class="col d-print-none">
        @if (Warehouses != null)
        {
            <SearchByWarehouseAsync Warehouses="Warehouses" OnSelect="SearchByWarehouseAsync" />
        }
    </div>
    <div class="col d-print-none">
        <SearchByNumber @ref="SearchByNumber" OnSearchChanged="SearchByNumberAsync" />
    </div>
    <div class="col">
        @if (Destinations != null)
        {
            <SearchByDestination @ref="SearchByDestination" Destinations="Destinations" OnSelect="SearchByDestinationsAsync" />
        }
    </div>
    <div class="col">
        @if (OrdersDto != null)
        {
            <strong>Общ вес: @OrdersDto.TotalWeight</strong>
        }
    </div>
    <div class="col mb-2 d-print-none">
        <button class="btn btn-info" @onclick="PrintAsync"><span class="oi oi-print"></span> Печать </button>
    </div>
</div>

@if (OrdersDto == null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    @if (OrdersDto?.MngrOrderName != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>@OrdersDto.MngrOrderName</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" @onclick="SearchByBarcodeClearAsync">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <table>
        <tr>
            @foreach (var item in OrdersDto.Items)
            {
                <td class="align-top">
                    <table>
                        <tr><th>@item.Key</th></tr>
                        @foreach (var value in item.Value)
                        {
                            <tr @onclick="@(() => OpenItemAsync(value.Документ_Id))">
                                <td>
                                    <Card Value="value" />
                                </td>
                            </tr>
                        }
                    </table>
                </td>
            }
        </tr>
    </table>
}