@using Whs.Shared.Models

<div class="card border border-dark rounded w-100">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <AuthorizeView Roles="Manager">
                    <Authorized>
                        @Value.Склад_NameString
                    </Authorized>
                </AuthorizeView>
            </div>
            <div class="col h1 align-middle text-right" title="@Value.Документ_Name">
                @Value.НомерОчереди
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <span class="oi oi-timer" title="Срок выполнения">&nbsp;</span><span class="@ifExpired">@Value.СрокВыполнения</span>
        </div>
        <div class="row">
            <span class="oi oi-map-marker" title="Направление доставки">&nbsp;</span><span>@Value.НаправлениеДоставки_Name</span>
        </div>
        <div class="row">
            <span class="oi oi-people" title="Получатель">&nbsp;</span><span title="@Value.ОтправительПолучатель_Name" class="@ifMoving">@Value.ОтправительПолучатель_NameString</span>
        </div>
        <div class="row">
            <span class="oi oi-warning" title="Комментарий">&nbsp;</span><span title="@Value.Комментарий">@Value.КомментарийString</span>
        </div>
    </div>
    <div class="card-footer">
        <div class="float-left">Строк: @Value.КоличествоСтрок</div>
        <div class="float-right">Вес: @Value.Вес</div>
    </div>
</div>

@code {
    [Parameter]
    public WhsOrderOut Value { get; set; }
    string ifExpired;
    string ifAtwork;
    string ifMoving;
    protected override void OnParametersSet()
    {
        if ((Value.СрокВыполнения != DateTime.Parse("01.01.0001 0:00:00")) && Value.СрокВыполнения < DateTime.Now)
            ifExpired = "bg-danger text-white";
        if (Value.ЭтоПеремещение)
            ifMoving = "bg-warning text-white";
        //if (Value.ApplicationUser != null)
        //    ifAtwork = "bg-primary text-white";

    }
}
