@page "/WhsOrdersOut/Item/{Id}"
@page "/WhsOrdersOut/Item/{Id}/{SearchStatus}"
@using Whs.Client.Components

<Notification @ref="Notification" />

<input type="hidden" id="Barcode" value="@Barcode" @onchange="ScannedBarcodeAsync" />

@if (OrderDto == null)
{
    <h3>Расходный ордер на товары</h3>
    <p><em>Загрузка...</em></p>
}
else
{
    <div class="row">
        <div class="col-2 wh-label">
            <div class="display-4 align-middle text-center border border-dark">
                @OrderDto.Item?.НомерОчереди
            </div>
            <div class="align-middle text-center border border-dark">
                @OrderDto.Item?.Статус
            </div>
        </div>
        <div class="col-5 h3">
            @OrderDto.Item?.Документ_Name
        </div>
        <div class="col-4 d-none d-print-inline">
            <div class="float-right">
                <img src=@($"data:image/jpeg;base64,{OrderDto.BarcodeBase64}") alt="штрих код" width="300" height="80" />
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Товар</th>
                <th>Кол план</th>
                <th>Кол факт</th>
                <th>Упак</th>
                <th>Вес</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in OrderDto.Item.Товары)
            {
                <tr>
                    <td>@item.Номенклатура_Name</td>
                    <td>@item.КоличествоПлан</td>
                    <td>@item.КоличествоФакт</td>
                    <td>@item.Упаковка_Name</td>
                    <td>@item.Вес</td>
                </tr>
            }
        </tbody>
    </table>
}
