@using Whs.Shared.Models

<div class="card border border-dark rounded w-100">
    <div class="card-header">
        <div class="row  d-flex justify-content-around">
            <span><span class="oi oi-list" title="Количество строк"></span>&nbsp;<span class="h4">@Value.КоличествоСтрок</span></span>
            <span><span class="oi oi-expand-down" title="Вес"></span>&nbsp;<span class="h4">@Value.Вес</span></span>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <span class="oi oi-timer" title="Срок выполнения"></span>&nbsp;
            <span class="@ifExpired" title="@Value.СрокВыполнения">&nbsp;@Value.TimeUpString&nbsp;</span>
        </div>
        <div class="row">
            <span class="oi oi-people" title="Получатель"></span>&nbsp;
            <span class="@ifMoving" title="@Value.ОтправительПолучатель_Name">&nbsp;@Value.ОтправительПолучатель_NameString&nbsp;</span>
        </div>
        <div class="row">
            <span class="oi oi-comment-square" title="Комментарий"></span>&nbsp;
            <span title="@Value.Комментарий">&nbsp;@Value.КомментарийString&nbsp;</span>
        </div>
        <AuthorizeView Roles="Manager">
            <Authorized>
                <div class="row">
                    <span class="oi oi-basket" title="Склад"></span>&nbsp;
                    <span title="@Value.Склад_Name">&nbsp;@Value.Склад_NameString&nbsp;</span>
                </div>
            </Authorized>
        </AuthorizeView>
    </div>
</div>

@code {
    [Parameter]
    public WhsOrderIn Value { get; set; }
    string ifExpired;
    //string ifAtwork;
    string ifMoving;
    protected override void OnParametersSet()
    {
        if (Value.СрокВыполнения != DateTime.Parse("01.01.0001 0:00:00"))
        {
            if (Value.СрокВыполнения > DateTime.Now)
                ifExpired = "bg-success text-white";
            else
                ifExpired = "bg-danger text-white";
        }

        if (Value.ЭтоПеремещение)
            ifMoving = "bg-warning text-white";
        //if (Value.ApplicationUser != null)
        //    ifAtwork = "bg-primary text-white";

    }
}
