@using Microsoft.AspNetCore.Authorization
@using Whs.Client.Components
@using Whs.Shared.Models
@page "/WhsOrdersIn/CardsByQueType"
@page "/WhsOrdersIn/CardsByQueType/{SearchStatus}"
@attribute [Authorize]

<Notification @ref="Notification" />

<input type="hidden" id="Barcode" value="@Barcode" @onchange="ScannedBarcodeAsync" />

<div class="row">
    <div class="col">
        <h4>Приходные ордера на товары</h4>
    </div>
</div>
<div class="row mb-2">
    <div class="col d-print-none">
        <SearchByNumber @ref="SearchByNumber" OnSearchChanged="SearchByNumberAsync" />
    </div>
    <div class="col d-print-none">
        <AuthorizeView Roles="Manager">
            <Authorized>
                @if (Warehouses != null)
                {
                    <SearchByWarehouseAsync Warehouses="Warehouses" OnSelect="SearchByWarehouseAsync" />
                }
            </Authorized>
        </AuthorizeView>
    </div>
    @if (OrdersDto != null)
    {
        <div class="col h5 pt-2 text-right">Общ Кол: @OrdersDto.TotalCount</div>
        <div class="col h5 pt-2">Вес: @OrdersDto.TotalWeight</div>
    }
    <div class="col d-print-none text-right">
        @if (OrderParameters.SearchStatus != WhsOrderStatus.In.Received)
        {
            <button class="btn btn-info" @onclick="Print"><span class="oi oi-print"></span> Печать </button>
        }
    </div>
</div>

@if (OrdersDto == null)
{
    <div class="row">
        <div class="col">
            <p><em>Загрузка...</em></p>
        </div>
    </div>
}
else
{
    <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
            <button class="btn btn-link btn btn-block nav-link @SearchStatusButtons[WhsOrderStatus.In.ToReceive]"
                    @onclick="@(() => SearchByStatus(WhsOrderStatus.In.ToReceive))">
                @WhsOrderStatus.In.ToReceive
            </button>
        </li>
        <li class="nav-item">
            <button class="btn btn-link btn btn-block nav-link @SearchStatusButtons[WhsOrderStatus.In.AtWork]"
                    @onclick="@(() => SearchByStatus(WhsOrderStatus.In.AtWork))">
                @WhsOrderStatus.In.AtWork
            </button>
        </li>
        <li class="nav-item">
            <button class="btn btn-link btn btn-block nav-link @SearchStatusButtons[WhsOrderStatus.In.Received]"
                    @onclick="@(() => SearchByStatus(WhsOrderStatus.In.Received))">
                @WhsOrderStatus.In.Received
            </button>
        </li>
    </ul>
    if (OrdersDto.Items.Count == 0)
    {
        <span class="notfound"><img src="/img/NotFound.svg" /></span>
    }
    else
    {
        @if (OrdersDto?.MngrOrderName != null)
        {
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>@OrdersDto.MngrOrderName</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" @onclick="SearchByBarcodeClearAsync">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

        <div class="row mt-3">
            <div class="col-3">
                <div class="row h5 text-center thqueue">
                    <div class="col"><span class="oi oi-layers"></span>&nbsp;<span>@QueType.In.ForCustomer</span></div>
                </div>
                <div class="order-items">
                    @if (OrdersDto.Items.ContainsKey(QueType.In.ForCustomer))
                    {
                        @foreach (var value in OrdersDto.Items[QueType.In.ForCustomer])
                        {
                            <div class="row" @onclick="@(() => OpenItem(value.Документ_Id))">
                                <div class="col">
                                    <Card Value="value" />
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-3">
                <div class="row h5 text-center thqueue">
                    <div class="col"><span class="oi oi-calendar"></span>&nbsp;<span>@QueType.In.QuicklyForSale</span></div>
                </div>
                <div class="order-items">
                    @if (OrdersDto.Items.ContainsKey(QueType.In.QuicklyForSale))
                    {
                        @foreach (var value in OrdersDto.Items[QueType.In.QuicklyForSale])
                        {
                            <div class="row" @onclick="@(() => OpenItem(value.Документ_Id))">
                                <div class="col">
                                    <Card Value="value" />
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-3">
                <div class="row h5 text-center thqueue">
                    <div class="col"><span class="oi oi-globe"></span>&nbsp;<span>@QueType.In.Expired</span></div>
                </div>
                <div class="order-items">
                    @if (OrdersDto.Items.ContainsKey(QueType.In.Expired))
                    {
                        @foreach (var value in OrdersDto.Items[QueType.In.Expired])
                        {
                            <div class="row" @onclick="@(() => OpenItem(value.Документ_Id))">
                                <div class="col">
                                    <Card Value="value" />
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-3">
                <div class="row h5 text-center thqueue">
                    <div class="col"><span class="oi oi-aperture"></span>&nbsp;<span>QueType.In.NoQue</span></div>
                </div>
                <div class="order-items">
                    @if (OrdersDto.Items.ContainsKey(QueType.In.NoQue))
                    {
                        @foreach (var value in OrdersDto.Items[QueType.In.NoQue])
                        {
                            <div class="row" @onclick="@(() => OpenItem(value.Документ_Id))">
                                <div class="col">
                                    <Card Value="value" />
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    }
}

@code
{
    private Notification Notification;
    private SearchByNumber SearchByNumber;
}
