@using Whs.Client.Components
@using Whs.Shared.Models
@page "/WhsOrdersIn/Item/{Id}"
@page "/WhsOrdersIn/Item/{Id}/{SearchStatus}"

<Notification @ref="Notification" />

<input type="hidden" id="Barcode" value="@Barcode" @onchange="ScannedBarcodeAsync" />

@if (OrderDto == null)
{
    <h3>Расходный ордер на товары</h3>
    <p><em>Загрузка...</em></p>
}
else
{
    <div class="row">
        <div class="col-2 d-print-none">
            <button class="btn btn-primary" @onclick="Return"><span class="oi oi-action-undo"></span> Назад </button>
        </div>
        <div class="col-6">
            <div class="h3">
                @OrderDto.Item?.Документ_Name
            </div>
            <div class="align-middle text-center border border-dark">
                @OrderDto.Item?.Статус
            </div>
        </div>
        <div class="col-4 d-none d-print-inline">
            <div class="float-right">
                <img src=@($"data:image/jpeg;base64,{OrderDto.BarcodeBase64}") alt="штрих код" width="300" height="80" />
            </div>
        </div>
        <div class="col-2 mb-2 d-print-none">
            <button class="btn btn-info" @onclick="PrintAsync"><span class="oi oi-print"></span> Печать </button>
        </div>
    </div>

    <table class="table table-sm table-borderless">
        <tr>
            <th>Отправитель: </th>
            <td class="h5">@OrderDto.Item?.ОтправительПолучатель_Name</td>
            <th>Тип очереди:</th>
            <td>@OrderDto.Item?.ТипОчереди</td>
        </tr>
        <tr>
            <th></th>
            <td></td>
            <th>Выполнить до: </th>
            <td>@OrderDto.Item?.СрокВыполненияString</td>
        </tr>
        <tr>
            <th>Комментарий: </th>
            <td class="h5">@OrderDto.Item?.Комментарий</td>
            <th>В работе: </th>
            <td>@OrderDto.UserName</td>
        </tr>
        <tr>
            <th>Вес: </th>
            <td class="h5">@OrderDto.Item?.Вес</td>
            <th>Ответственный: </th>
            <td>@OrderDto.Item?.Ответственный_Name</td>
        </tr>
    </table>


    <table  width="100%" border="1" cellpadding="5">
        <thead>
            <tr>
                <th class="text-center">№</th>
                <th class="text-center">Артикул</th>
                <th class="text-center">Товар</th>
                <th class="text-center">Кол</th>
                @if (OrderDto.Item?.Статус == WhsOrderStatus.In.AtWork)
                {
                    <th class="text-center d-print-none">Причина изменения</th>
                    <th class="text-center">Кол факт</th>
                }
                <th class="text-center">Упак</th>
                <th class="text-center">Вес</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in OrderDto.Item.Товары)
            {
                <tr class="h5">
                    <td>@item.НомерСтроки</td>
                    <td>@item.Артикул</td>
                    <td>@item.Номенклатура_Name</td>
                    <td>@item.КоличествоПлан</td>

                    @if (OrderDto.Item?.Статус == WhsOrderStatus.In.AtWork)
                    {
                        <td class="d-print-none">
                            <select class="form-control" @bind="item.EditingCauseId">
                                <option value="@Guid.Empty" selected></option>
                                @foreach (var cause in EditingCauses)
                                {
                                    <option value="@cause.Id">@cause.Name</option>
                                }
                            </select>
                        </td>
                        <td class="d-print-none">
                            <div class="input-group">
                                <input class="form-control" size="4" @bind="item.КоличествоФакт" />
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" @onclick="@(() => item.КоличествоФакт = 0)">&times;</button>
                                </div>
                            </div>
                        </td>
                        <td class="d-none d-print-table-cell">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                    }
                    <td>@item.Упаковка_Name</td>
                    <td>@item.Вес</td>
                </tr>
            }
        </tbody>
    </table>
}

@code
{
    private Notification Notification;
}
