@using Whs.Shared.Models
    @if (Destinations != null)
    {
<select class="form-control" @bind="DestinationId">
    <option value="0">- Все направления -</option>
    <option value="@Guid.Empty">- Без направления -</option>
    <optgroup label="- Районы -">
        @foreach (var item in Destinations[0])
        {
            <option value="@item.Id">@item.Name</option>
        }
    </optgroup>
    <optgroup label="- Нас. пункты -">
        @foreach (var item in Destinations[1])
        {
            <option value="@item.Id">@item.Name</option>
        }
    </optgroup>
</select>
    }

@code {
    [Parameter]
    public Destination[][] Destinations { get; set; }

    private string destinationId { get; set; }
    [Parameter]
    public string DestinationId
    {
        get { return destinationId; }
        set
        {
            if (destinationId != value)
            {
                destinationId = value;
                if (OnSelect.HasDelegate && isInvokeDelegate)
                {
                    OnSelect.InvokeAsync(value);
                }
            }
        }
    }

    [Parameter]
    public EventCallback<string> OnSelect { get; set; }

    private bool isInvokeDelegate = true;
    public void Clear()
    {
        isInvokeDelegate = false;
        DestinationId = "0";
        isInvokeDelegate = true;
    }
}
